@{
    ViewData["Title"] = "ClassPage";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h2>
                    ClassPage
                </h2>
                <p>
                    Online school diary, which allows students to see their grades and to communicate faster with teachers.
                </p>
                <p>
                    <a class="btn btn-secondary" href="/Identity/Account/Register">Register</a>
                    <a class="btn btn-primary" href="/Identity/Account/Login">Login</a>
                </p>
                <p class="text-info">
                    За тестване, използвайте акаунтите:
                    student@ma.il,
                    teacher@ma.il,
                    admin@ma.il,
                    с парола "Qaz123!"
            </div>
        </div>
    </div>
</div>