@{
    ViewData["Title"] = "Add Student to DB";
}

<form asp-action="AddStudent" asp-controller="Admin" method="post">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="firstName" required/>
    </div>
    <div class="form-group">
        <label>Middle Name</label>
        <input type="text" class="form-control" name="middleName"/>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lastName" required/>
    </div>
    <div class="form-group">
        <label>Class</label>
        <select class="form-control" name="classId">
            <option disabled="disabled" selected="selected">Select class</option>
            @foreach (ClassDTO c in ViewBag.ClassList)
            {
                <option value="@c.Id">@c.ClassName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>E-mail address</label>
        <input name="email" class="form-control" type="email" required/>
    </div>
    <div class="form-group">
        <label>Telephone number</label>
        <input name="phone" class="form-control" type="tel"/>
    </div>
    <input type="submit" value="Go" class="btn btn-primary" />
</form>
